* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.header-section {
    background-color: rgba(26, 11, 46, 1);
    border-bottom: 1px solid rgba(65, 37, 103, 1);
}

.header-container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 16px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid rgba(0, 0, 0, 1);
}

.nav-logo img {
    width: 200px;
    height: auto;
}

.nav-link {
    display: flex;
    /* justify-content: flex-start; */
    gap: 32px;

}

.nav-link a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
}

.nav-link a:hover {
    color: #fb09b4;
}

.btn-nav {
    background: linear-gradient(47.64deg, #f7e93f 16.5%, #fb09b4 49.8%, #9100f8 81.6%);
    border: none;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    padding: 12px 16px;
    border-radius: 10000px;
    font-size: 16px;
    font-weight: 600;
    gap: 6px;
    cursor: pointer;
}

.btn-nav:hover {
    background: #9100f8;
}

.mobile-menu {
    display: none;
}

.hero {
    min-height: 760px;
    background: url("./assets/hero-bg.png") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    /* position: relative; */
}

.hero-overlay {
    /* margin: 101px 525px; */
    /* background: repeating-radial-gradient(); */
    width: 100%;
    height: 100%;
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.mic {
    position: relative;
    width: 260px;
    height: 260px;
    margin-bottom: 40px;
}

.mic-circle {
    width: 100%;
    height: auto;
}

.mic-img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    transform: translate(-50%, -50%);
}

.hero-title h1 {
    font-size: 3.75rem;
    font-weight: 800;
    margin-bottom: 15px;
}

.hero-title p {
    font-size: 1rem;
    color: #cfc5e0;
    margin-bottom: 24px;
}

.hero-button {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.btn-spot {
    width: 201px;
    height: 44px;
    background: linear-gradient(47.64deg, #f7e93f 16.5%, #fb09b4 49.8%, #9100f8 81.6%);
    border: none;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    padding: 12px 16px;
    border-radius: 10000px;
    font-size: 1rem;
    font-weight: 600;
    gap: 6px;
    cursor: pointer;
}

.btn-subs {
    width: 147px;
    height: 44px;
    border: 1px solid #00FF88;
    color: #00FF88;
    background: transparent;
    padding: 12px 16px;
    display: flex;
    flex-direction: row;
    border-radius: 1000px;
    font-size: 1rem;
    font-weight: 600;
    line-height: 19px;
    gap: 6px;
    cursor: pointer;

}

@media screen and (max-width: 576px) {

    .nav-link,
    .btn-nav {
        display: none;
    }

    .mobile-menu {
        display: inline;
    }

    .header-container {
        padding: 12px 20px;
    }

    .nav-logo img {
        width: 150px;
    }
}


@media screen and (min-width: 576px) and (max-width: 992px) {

    .nav-link,
    .btn-nav {
        display: none;
    }

    .mobile-menu {
        display: inline;
    }

    .header-container {
        padding: 12px 20px;
    }

    .nav-logo img {
        width: 150px;
    }
}