* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.header-section {
    background-color: rgba(26, 11, 46, 1);
    border-bottom: 1px solid rgba(65, 37, 103, 1);
}

.header-container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 16px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid rgba(0, 0, 0, 1);
}

.nav-logo img {
    width: 200px;
    height: auto;
}

.nav-link {
    display: flex;
    /* justify-content: flex-start; */
    gap: 32px;

}

.nav-link a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
}

.nav-link a:hover {
    color: #fb09b4;
}

.btn-nav {
    background: linear-gradient(47.64deg, #f7e93f 16.5%, #fb09b4 49.8%, #9100f8 81.6%);
    border: none;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    padding: 12px 16px;
    border-radius: 10000px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    gap: 6px;
    cursor: pointer;
}

.btn-nav:hover {
    background: #9100f8;
}

.mobile-menu {
    display: none;
}


@media screen and (max-width: 576px) {

    .nav-link,
    .btn-nav {
        display: none;
    }

    .mobile-menu {
        display: inline;
    }

    .header-container {
        padding: 12px 20px;
    }

    .nav-logo img {
        width: 150px;
    }
}


@media screen and (min-width: 576px) and (max-width: 992px) {

    .nav-link,
    .btn-nav {
        display: none;
    }

    .mobile-menu {
        display: inline;
    }

    .header-container {
        padding: 12px 20px;
    }

    .nav-logo img {
        width: 150px;
    }
}