* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.header-section {
    background-color: rgba(26, 11, 46, 1);
    border-bottom: 1px solid rgba(65, 37, 103, 1);
}

.header-container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 16px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid rgba(0, 0, 0, 1);
}

.nav-logo img {
    width: 200px;
    height: auto;
}

.nav-link {
    display: flex;
    /* justify-content: flex-start; */
    gap: 32px;

}

.nav-link a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
}

.nav-link a:hover {
    color: #fb09b4;
}

.btn-nav {
    background: linear-gradient(47.64deg, #f7e93f 16.5%, #fb09b4 49.8%, #9100f8 81.6%);
    border: none;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    padding: 12px 16px;
    border-radius: 10000px;
    font-size: 16px;
    font-weight: 600;
    gap: 6px;
    cursor: pointer;
}

.btn-nav:hover {
    background: #9100f8;
}

.mobile-menu {
    display: none;
}

.hero {
    min-height: 760px;
    background: url("./assets/hero-bg.png") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    /* position: relative; */
}

.hero-overlay {
    /* margin: 101px 525px; */
    /* background: repeating-radial-gradient(); */
    width: 100%;
    height: 100%;
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.mic {
    position: relative;
    width: 260px;
    height: 260px;
    margin-bottom: 40px;
}

.mic-circle {
    width: 100%;
    height: auto;
}

.mic-img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    transform: translate(-50%, -50%);
}

.hero-title h1 {
    font-size: 3.75rem;
    font-weight: 800;
    margin-bottom: 15px;
}

.hero-title p {
    font-size: 1rem;
    color: #cfc5e0;
    margin-bottom: 24px;
}

.hero-button {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.btn-spot {
    width: 201px;
    height: 44px;
    background: linear-gradient(47.64deg, #f7e93f 16.5%, #fb09b4 49.8%, #9100f8 81.6%);
    border: none;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    padding: 12px 16px;
    border-radius: 10000px;
    font-size: 1rem;
    font-weight: 600;
    gap: 6px;
    cursor: pointer;
}

.btn-subs {
    width: 147px;
    height: 44px;
    border: 1px solid #00FF88;
    color: #00FF88;
    background: transparent;
    padding: 12px 16px;
    display: flex;
    flex-direction: row;
    border-radius: 1000px;
    font-size: 1rem;
    font-weight: 600;
    line-height: 19px;
    gap: 6px;
    cursor: pointer;

}

.about {
    background: rgba(26, 11, 46, 1);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.about-container {
    width: 1600px;
    max-width: 100%;
    margin: 0 auto;
    padding: 50px 200px 120px;
    text-align: center;

}

.about-text h2 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.about-text p {
    max-width: 900px;
    margin: 0 auto;
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 1.8;
}

.about-border {
    width: 950px;
    max-width: 100%;
    height: 1px;
    margin: 30px auto;
    background: rgba(255, 255, 255, 0.12);
}

.about-stats {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.stats h3 {
    font-size: 3.5rem;
    font-weight: 800;
    letter-spacing: -1px;
    color: #00FF88;
    margin-bottom: 8px;
}

.stats p {
    font-size: 1rem;
    color: #cfc5e0;
    letter-spacing: 1px;
}

.why-section {
    background: rgba(26, 11, 46, 1);
    color: #FFFFFF;
    padding: 120px 0;
    /* display: flex;
    align-items: center; */
}

.why-container {
    width: 1600px;
    max-width: 100%;
    padding: 120px 200px;
    margin: 0 auto;
    /* align-items: center; */
}

.why-container h2 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 40px;
    /* margin-left: 0; */
    text-align: center;
}

.why-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(250px, auto);
    gap: 30px;
}

.why-card {
    background: rgba(53, 17, 101, 0.4);
    padding: 44px;
    border-radius: 40px;
    /* text-align: left; */
}

.why-card img {
    width: 50px;
    margin-bottom: 16px;
}

.why-card h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.why-card p {
    font-size: .95rem;
    line-height: 1.7;
    color: #FFFFFF;
    opacity: 0.7;
}


.why-card.side {
    grid-row: span 2;
}

.why-card.mobile,
.why-card.global,
.why-card.wide {
    grid-column: span 2;
}

.why-card.rich {
    grid-column: span 1;
}


.featured-section {
    background: #1a0b2e;
    color: #FFFFFF;
}

.featured-container {
    width: 1600px;
    max-width: 100%;
    padding: 120px 200px;
    margin: 0 auto;
}

.featured-container h2 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 40px;
    text-align: center;
}

.card-container {
    display: flex;
    gap: 30px;
}

.episode-card {
    flex: 1;
    background: rgba(53, 17, 101, 0.45);
    border-radius: 32px;
    padding: 24px;
}

.video-box {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 24px;
    overflow: hidden;
    margin-bottom: 16px;
}

.video-box iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.episode-card h3 {
    font-size: 1.5rem;
    /* font-weight: 700; */
    margin-bottom: 12px;
}

.episode-card p {
    font-size: 0.95rem;
    opacity: 0.7;
    line-height: 1.4;
    margin-bottom: 12px;
}

.duration {
    font-size: .85rem;
    color: #00FF88;
    display: flex;
    align-items: center;
    gap: 7px;

}








@media screen and (max-width: 576px) {

    .nav-link,
    .btn-nav {
        display: none;
    }

    .mobile-menu {
        display: inline;
    }

    .header-container {
        padding: 12px 20px;
    }

    .nav-logo img {
        width: 150px;
    }
}


@media screen and (min-width: 576px) and (max-width: 992px) {

    .nav-link,
    .btn-nav {
        display: none;
    }

    .mobile-menu {
        display: inline;
    }

    .header-container {
        padding: 12px 20px;
    }

    .nav-logo img {
        width: 150px;
    }
}